@charset "UTF-8";

.contact-body{
	display: flex;
    padding-top: 3vh;
}

.contact-body nav.menu_list{
	width: 13vw;
	min-width: 200px;
}

.contact-body nav.menu_list .row{
    position: sticky;
    top: 0;
}

.contact-body .content table thead tr{
	background-color: #f2f2f2;
}

.contact-body .content table tbody tr td a{
	text-decoration: none;
}

/*.contact-body .content table tr th:not(:nth-child(3)),
.contact-body .content table tr td:not(:nth-child(3))*/
.contact-body .content table tr th:not(:nth-child(2)),
.contact-body .content table tr td:not(:nth-child(2))
{
	text-align: center;
}

.contact-body .content{
	width: 80vw;
}


/* 글쓰기 */
.contact-body .content.write{
	width: 65vw;
}